.post {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.post strong {
  font-weight: 600;
}
.post img {
  width: 100%;
  display: block;
  font-size: 0px;
  max-width: 100%;
  border-radius: 16px;
}

.post td img {
  border-radius: unset;
}

.post a {
  text-decoration: underline;
  color: skyblue;
}

.post a:hover {
  text-decoration: underline;
  color: deepskyblue;
}

.post pre {
  overflow: scroll;
  padding: 16px;
  border-radius: 16px;
  background: #333331;
}

.post blockquote {
  background: #333331;
  padding: 0 16px;
  border-radius: 0 16px 16px 0;
  border-left: solid 4px black;
}

.post > p {
  line-height: 1.6;
}